{% extends "base_generic.html"%}

{% block content %}

<div class="page-container float-right">
    <div class="row">
        <div class="col-md-6">
            <section>
                <div>
                    <h2>Eliminar Review</h2>
                </div>
            </section>
            <section>
                <div>
                    <p>
                        Seguro que quieres eliminar esta Review: {{ Review.nombre }}

                    </p>

                    <form action="" method="POST">

                        {% csrf_token %}
                        <table>

                            {{form.as_table}}
                        </table>
                        <input type="submit" value="Yes, delete">

                    </form>



                </div>
            </section>

        </div>
    </div>
</div>






{% endblock %}